:host{
	display: flex;
}

section{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: calc(100vh - 7.125rem);
	background: url('assets/images/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	color: #FFFFFF;
	text-align: center;
}

h1{
	font-size: 3rem;
}

a{
	color: #FFFFFF;
}